<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/assessment.css">
    <title>Тестирование</title>

  </head>
  <body class="assessment-body">

    <main class="main">
      <div class="quiz__head">
          <div class="head__content" id="head">Вопрос ? ВопроВопрос ? Вопрос ? Вопрос ? Вопрос ?  ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? </div>
      </div>

      <div class="quiz__body">
        <div class="buttons">
          <div class="buttons__content">
            <button class="button-quiz">Вариант 1</button><br>
            <button class="button-quiz">Вариант 2</button><br>
            <button class="button-quiz">Вариант 3</button><br>
            <button class="button-quiz">Вариант 4</button><br>
          </div>
        </div>

        <div class="quiz__footer">
            <div class="footer__content" id="pages">0 / 0</div>
        </div>
      </div>

    </main>
    <script src="/assets/scripts/assessment_script.js"></script>
  </body>
</html>