<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <title>ЦОР</title>

</head>
<body>
    <div class="container animation-target" id="container">
        <h1>Тест по Физике</h1>
        <p>Добро пожаловать на тест по физике. Нажмите на кнопку ниже, чтобы начать тестирование.</p>
        <button id="startButton">Начать тест</button>
    </div>

    <script src="/assets/scripts/script.js"></script>
</body>
</html>